body {
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.6rem;
}

.container {
  background-color: white;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 48px 70px 27px 70px;
  animation: all 400ms;
}

header {
  padding-bottom: 33px;
  font-weight: bold;
}

header h1 {
  font-size: 3.6rem;
  margin-bottom: 8px;
}

header h2 {
  font-size: 3.2rem;
  color: #ff1b30;
}

main img {
  width: 100%;
  height: auto;
  display: block;
}

main p {
  line-height: 2.2rem;
  border-bottom: 1px solid black;
  padding: 14px;
}

ul {
  line-height: 3rem;
  padding: 18px 42px 14px 16px
}

ul li {
  background-image: url("../images/bg_listitem.jpg");
  background-repeat: no-repeat;
  padding-left: 2.6rem;
  background-position: 0px 4px;
}

@media screen and (max-width:900px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding: 12px;
  }

  header {
    padding-bottom: 12px;
  }

  header h1,
  header h2 {
    text-align: center;
  }

  main p {
    padding-left: 0;
    padding-right: 0;
  }

  main ul {
    padding-left: 0;
    padding-right: 0;
  }

  :root {
    font-size: 75%;
  }
}